repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-ast
  - id: check-builtin-literals
  - id: check-case-conflict
  - id: check-docstring-first
  - id: check-executables-have-shebangs
  - id: check-json
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: check-symlinks
  - id: check-vcs-permalinks
  - id: check-yaml
  - id: debug-statements
  - id: destroyed-symlinks
  - id: double-quote-string-fixer
  - id: end-of-file-fixer
  - id: file-contents-sorter
  - id: fix-byte-order-marker
  - id: mixed-line-ending
  - id: name-tests-test
  - id: pretty-format-json
  - id: requirements-txt-fixer
  - id: sort-simple-yaml
  - id: trailing-whitespace
- repo: https://github.com/asottile/reorder-python-imports
  rev: v3.16.0
  hooks:
  - id: reorder-python-imports
    args: [--py312-plus, --add-import, 'from __future__ import annotations']
- repo: https://github.com/asottile/add-trailing-comma
  rev: v4.0.0
  hooks:
  - id: add-trailing-comma
- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.0
  hooks:
  - id: pyupgrade
    args: [--py312-plus]
- repo: https://github.com/hhatto/autopep8
  rev: v2.3.2
  hooks:
  - id: autopep8
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.18.2
  hooks:
  - id: mypy
- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.12.0-2
  hooks:
  - id: shfmt
